:root {
  --white-color: #ffffff;
  --turquoise-color: #26c6ea;
  --bgi-button-color: #0b0e66;
  --black-color: #000000;
  --bgc-color: #2b4a61de;
  --hover-color: #94cfff;
}
.container {
  width: 1030px;
  height: 100%;
  padding-left: 12px;
  padding-right: 12px;
  margin: 0 auto;
}
/* body */
body {
  color: var(--bgi-button-color);
  line-height: 24px;
  font-size: 24px;
  font-family: Headland One;
  font-weight: 400;
}
/* header */
.header {
  display: flex;
  justify-content: center;
  width: 1440px;
  height: 150px;
  margin: 0 auto;
  background-image: linear-gradient(
      to right,
      rgba(43, 74, 97, 0.87),
      rgba(43, 74, 97, 0.87)
    ),
    url(../img/bgi.header.jpg);
  border-bottom: 3px solid var(--white-color);
}
.header-flex {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
}
.logo {
  width: 189px;
  height: 72px;
  margin-right: 168px;
}
.header-nav-link {
  color: var(--white-color);
  font-weight: 300;
  font-size: 20px;
  line-height: 24.4px;
}
.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--hover-color);
}
.link-header {
  color: var(--white-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  width: 30px;
  height: 20px;
  font-family: Headland One;
  margin-right: 10px;
}
.header-button {
  width: 141px;
  height: 41.69px;
  border-radius: 35px 0px 35px 0px;
  background-color: #0b0e66;
  outline: 2px solid #26c7ea;
  color: #26c7ea;
  margin-right: 49px;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
}

.menu {
  gap: 38px;
  margin-right: 212px;
}
.header-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* hero */
.hero {
  width: 1440px;
  height: 740px;
  margin: 0 auto;
  background-image: url(../img/bgi.jpg);
}

.arrow-pic {
  width: 152px;
  height: 40px;
  margin-left: 263px;
}
.hero-text {
  width: 298px;
  color: var(--white-color);
  font-family: Inter;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-left: 210px;
}
.hero-list {
  margin-left: 178px;
  padding-top: 180px;
}

.hero-social {
  display: flex;
  align-items: center;
}
.hero-button {
  width: 260px;
  height: 80px;
  font-size: 24px;
  font-weight: 400;
  line-height: 30.06px;
  text-align: center;
  background-color: #0b0e66;
  outline: 2px solid #26c7ea;
  border-radius: 45px 0px 45px 0px;
  color: #26c7ea;
  margin-top: 43.16px;
  margin-left: 210px;
}
.list {
  margin-right: 674px;
}
.list-item {
  margin-top: 24px;
}
.hero-pic {
  width: 30px;
  height: 30px;
}
.hero-pic-tube {
  width: 50px;
  height: 30px;
}
/* quote-salli */
.quote-salli {
  text-align: center;
  width: 1440px;
  height: 350px;
  margin: 0 auto;
  font-family: Inter;
  font-size: 36px;
  font-weight: 400;
  line-height: 44px;
}
.blockquote-text {
  color: var(--black-color);
  padding-top: 75px;
}
.blockquote-text:hover,
.blockquote-subtext:hover,
.blockquote-subtext:focus,
.blockquote-text:focus {
  color: var(--bgc-color);
}
.blockquote-subtext {
  color: var(--black-color);
  display: flex;
  justify-content: center;
}
.quote-pic {
  width: 400px;
  height: 120px;
  margin: 0 auto;
}
/* trailer */
.trailer {
  width: 1440px;
  margin: 0 auto;
  height: 741px;
  align-items: center;
}
/* language */
.language-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 36px;
  row-gap: 24px;
  justify-content: center;
}
.language-div {
  width: 1240px;
  height: 704px;
  text-align: center;
}
.language-pic {
  width: 152px;
  height: 40px;
  margin-top: 31px;
}

.language {
  height: 704px;
  width: 1440px;
  background-image: url(../img/bgi-language.jpg);
  margin: 0 auto;
  text-align: center;
}
.language-list-item {
  width: 320px;
  height: 240px;
  background-color: rgba(255, 255, 255, 0.7);
  flex-basis: calc((100% - 72px) / 3);
}

.language-title {
  padding-top: 58px;
  padding-bottom: 45px;
}
.language-text {
  margin-top: 36px;
  font-size: 24px;
}
/* footer */
footer {
  display: flex;
  align-items: center;
}
.footer {
  width: 1440px;
  height: 223px;
  margin: 0 auto;
  background-image: linear-gradient(
      to right,
      rgba(43, 74, 97, 0.87),
      rgba(43, 74, 97, 0.87)
    ),
    url(../img/bgi.header.jpg);
}
.footer-subtext {
  color: var(--white-color);
  font-size: 14px;
  line-height: 17px;
  font-family: Inter;
  text-align: center;
  padding-top: 65px;
}
.item {
  gap: 20px;
  align-items: center;
}

.border {
  width: 269px;
  height: 1px;
}
.footer-link,
.footer-text {
  color: var(--white-color);
  font-family: Inter;
  font-size: 20px;
}
.footer-border {
  width: 0px;
  height: 153px;
  border: 1px solid var(--white-color);
  margin-right: 79px;
}
.logo {
  margin-left: 204px;
  margin-right: 81px;
}
.footer-list {
  align-items: center;
}
.item {
  display: flex;
  justify-content: center;
}
